.container {
  display: grid;
  grid-template-columns: repeat( 4, auto);
  grid-gap: 20px
}

.item {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: cadetblue;
  height: 200px;
  text-align: center;
}

.item2 {
 grid-column-start: 2;
 grid-column-end: 4;
}