.container {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
  margin: 10px;
  background-color: cadetblue;
}

h1 {
  background-color: gray;
  padding: 5px;
}

h3 {
  background-color: white;
  padding: 5px;
}

p {
  background-color: red;
  padding: 5px;
}